.coverage/
.env*
.pytest_cache/
.ruff_cache/
__pycache__
build/
dist/

.antlr*
chromio/filter/metadata/_antlr4/*
!chromio/filter/metadata/_antlr4/Lexer.py
!chromio/filter/metadata/_antlr4/FilterParser.py